$font-logo:      'MinecraftTen';
$font-minecraft: 'MinecraftRegular';
$font-clean:     'Poppins';

// dark mode
$foreground: white;
$background: black;
$brighten-polarity: 1;

// light mode
// $foreground: black;
// $background: white;
// $brighten-polarity: -1;